body{
    background-color: rgb(155, 155, 163);
  display:flex;
  justify-content:center;
}

.container{
    background-color: black;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: rgb(239, 228, 17);
    box-shadow: 2px 2px 2px rgba(6, 234, 207, 0.867);
}

.display{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
  width:100px;
  border-radius:25px;
  background-color:rgb(17, 255, 17);
  margin-bottom:2px;
}
